<!DOCTYPE html>
<html>
  <head>
    <title>Quiz MySQL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/quizApp.css') }}">
  </head>
  <body>
    <div class="app">
      <button id="end-btn" ><a href="{{url_for('courses.netw_index')}}">Terminar</a></button>
      <h1>Seccion 4: Redes WAN y wireless WAN.</h1>
      <div class="quiz">
        <h2 id="question">Question goes here</h2>
        <div id="answer-buttons">
          <button class="btn">Answer 1</button>
          <button class="btn">Answer 2</button>
          <button class="btn">Answer 3</button>
          <button class="btn">Answer 4</button>
        </div>
        <button id="next-btn">Siguiente</button>
      </div>

    </div>
    <script src="../../static/js/quizCap4.js"></script>
  </body>
</html>
