{% extends 'base.html'%}
{% block title %}Bases de datos{%endblock%}

{%block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='style/cursos.css') }}">
<main class="course-container">
  <section class="main-video">
<iframe class="video" name="video-box" width="1000" height="500" src="https://www.youtube.com/embed/nXy0l2j51yQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<h2 class="main-video-title">Introduccion </h2>
<div class="about-course">
  <h2 class="title">Acerca del curso</h2>
  <span class="about-course-content">
    <p>Aprenderás a consultar y modificar información de una base de datos. </p>
  </span>
</div>
<dl>
  <div class="course-overview--grid-row--1nKqQ">
    <dt>Caracteristicas</dt>
    <dd>
      <div>Nivel de dificultad: Principiante</div>
      <div>Lenguaje: Español</div>
      <div>Lecturas: 16</div>
    </dd>
  </div>
  <div class="course-overview--grid-row--1nKqQ">
    <dt>Descripción</dt>
    <dd class="course-overview--wide--37Lev">
      <p>
      <b>¡El curso de MySQL que te da más valor!</b>
      </p>
      <p><b>¿Quieres aprender una habilidad que te ayude a incrementar tus ingresos?</b><br>Si es así, entonces este curso es para ti</p>
      <p>
      <strong>Programa</strong>
      </p>
      <ol>
        <p><strong>Seccion 1</strong></p>
        <li>
          <p>Introduccion </p>
        </li>
        <li>
          <p>Instalar MySQL</p>
        </li>
        <li>
          <p>Errores sintacticos y logicos</p>
        </li>
      </ol>

      <ol>
        <p><strong>Seccion 2</strong></p>
        <li>
          <p>Variables y tipos de datos</p>
        </li>
        <li>
          <p>Errores sintacticos y logicos</p>
        </li>
      </ol>
    </dd>
  </div>
</dl>
  </section>

  <div class="app-sidebar" style="top:65px; height: calc(100% - 50px)">
    <section class="sidebar--sidebar" data-porpuse="sidebar">
      <div class="sidebar--header">
        <h2 class="sidebar--heading">Contenido del curso</h2>
      </div>
      <div id="sidebar--scroll--container" class="sidebar--content">
        <div class="sidebar-course-content">
          <div class="accordion-panel section--section">
            <ul class="accordion-menu">
              <li class="link">
                <div class="dropdown-courses">
                  Seccion 1.
                  <img class="arrow" src="../../static/assets/arrow.svg">
                </div>
                <ul class="submenu-items">
                  <li class="title active"><a   href="https://www.youtube.com/embed/nXy0l2j51yQ" target="video-box">Introduccion</a></li>
                  <li class="title"><a   href="https://www.youtube.com/embed/gcDQvoas6Rw" target="video-box">Instalación de MySQL</a></li>
                  <li class="title"><a  href="https://www.youtube.com/embed/1DOd9kkhUjI" target="video-box">Crear Bases de datos</a></li>
                  <li class="title"><a href="https://www.youtube.com/embed/j_J5SLbHZ6U" title="YouTube video player" target="video-box">Tipos de datos</a></li>
                </ul>
              </li>
              <li class="link">
                <div class="dropdown-courses">
                  Seccion 2.
                  <img class="arrow" src="../../static/assets/arrow.svg">
                </div>
                <ul class="submenu-items">
                  
                  <li class="title"><a href="https://www.youtube.com/embed/AL-Q8wk5KJw" target="video-box">Crear tablas</a></li>
                  <li class="title"><a href="https://www.youtube.com/embed/KIsSbQ1sFq4" target="video-box">Crear tablas II</a></li>
                  <li class="title"><a href="https://www.youtube.com/embed/QUOwD4doB_A" target="video-box">Insertar datos</a></li> <li class="title"><a href="https://www.youtube.com/embed/ESmADiAxjpc" target="video-box">Operadores relacionales</a></li> </ul>
              </li>
              <li class="link">
                <div class="dropdown-courses">
                  Seccion 3.
                  <img class="arrow" src="../../static/assets/arrow.svg">
                </div>
                <ul class="submenu-items">
                  <li class="title"><a href="https://www.youtube.com/embed/j-qhhAtu1yE" title="Borrado de registros" target="video-box">Borrado de registros</a></li>
                  <li class="title"><a href="https://www.youtube.com/embed/3e8t4tkl2Xk" title="WHERE + AND"    target="video-box">WHERE + AND</a></li>
                  <li class="title"><a href="https://www.youtube.com/embed/nGJ3TzJsTZs" title="BETWEEN + IN" target="video-box">BETWEEN + IN</a></li>
                  <li class="title"><a href="https://www.youtube.com/embed/83_VfEJo5kA" title="Condicion Like" target="video-box">Condicion LIKE</a></li>
                </ul>
              </li>

              <li class="link">
                <div class="dropdown-courses">
                  Seccion 4.
                  <img class="arrow" src="../../static/assets/arrow.svg">
                </div>
                <ul class="submenu-items">
                  <li class="title"><a href="https://www.youtube.com/embed/QVPJnHEhNvU" title="Funciones agregadas" target="video-box">Funciones agregadas</a></li>
                  <li class="title"><a href="https://www.youtube.com/embed/Rt76TcMgJJo" title="GROUP by" target="video-box">Sucesión fibonacci</a></li>
                  <li class="title"><a href="https://www.youtube.com/embed/YgNkoObH2IM" title="Cadenas de caracteres con el metodo equals" target="video-box">Cadenas de caracteres con el metodo equals</a></li>
                  <li class="title"><a href="https://www.youtube.com/embed/Rt76TcMgJJo" title="GROUP BY" target="video-box">GROUP BY</a></li>
                  <li class="title"><a href="https://www.youtube.com/embed/7wre-TNGR5Q" title="HAVING" target="video-box">HAVING</a></li>
              </li>
            </ul>
            </div>
        </div>
      </div>
    </section>
  </div>
</main>
<script src="../../static/js/side-bar.js">
</script>
{%endblock%}
