{% extends 'base.html'%}

{% block title %}Programacion {% endblock %}

{% block content%}
<main class="container">
  <section class="main-video">
<iframe width="1000" height="600" src="https://www.youtube.com/embed/L1oMLsiMusQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<h3 class="title">Title of the playing video</h3>
<div class="about-course">
  <h3 clas="title">Acerca del curso</h3>
</div>
  </section>
</main>
{% endblock %}

