*, *:after, *:before {
    box-sizing: inherit;
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box; 
}
h2{
    font-size: 2em;
    margin-bottom: 3px;
}
p{
    
}
div{
    display:block;
}
main{
    display: block;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
p *:last-child{
    margin-bottom: 0;
}
.description {
    font-size: 1.2em;
}
.hero-body{
background: rgb(5,0,36);
background: linear-gradient(90deg, rgba(5,0,36,1) 0%, rgba(93,9,121,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    display: flex;
    align-items: center;
    text-align:center;
    flex-direction: column;
    background-size: cover;
    height: 60vh;
}

.column {
    float: left;
    width: 33.3%;
    height: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    margin: 8px;
    background-color: #F6F6F8;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content:"";
    clear: both;
    display: table;
}
.gallery_figure {
    display: grid;
    grid-template-areas: "img";
    overflow:hidden;
}
.gallery_figure::after{
    content: attr(data-name)"";
    grid-area: img;
    background-color: #1d1d1f94;
    display:grid;
    place-items:center;
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    transform: translate(100%, 100%);
    transition: .3s ease-in;
}
.gallery_figure:hover::after {
    transform: translate(0); 
}
.gallery_img {
    grid-area: img;
    aspect-ratio:4/4;
    object-fit:cover;
    vertical-align: center;
}
.title{
    margin: 0 0;
    padding: 4px 4px;
    color: grey;
}
.fa {
  padding: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 40px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  border-radius: 14px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
    color: white;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045); 
  }
.fa-github {
    color black;
    background: white;
}
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
     }

    .gallery_figure:hover::after {
        transform: translate(0); 
     }

    .gallery_figure {
        display: grid;
        grid-template-areas: "img";
        overflow:hidden;
    }
    .gallery_figure::after{
        content: attr(data-name)"";
        grid-area: img;
        background-color: #1d1d1f94;
        display:grid;
        place-items:center;
        font-size: 2rem;
        color: #fff;
        font-weight: bold;
        transform: translate(100%, 100%);
        transition: .3s ease-in;
    }
}

@media screen and (max-width: 1024px) {
  .column {
    width: 100%;
    display: block;
  }

.gallery_figure:hover::after {
    transform: translate(0); 
  }

.gallery_figure {
    display: grid;
    grid-template-areas: "img";
    overflow:hidden;
}
.gallery_figure::after{
    content: attr(data-name)"";
    grid-area: img;
    background-color: #1d1d1f94;
    display:grid;
    place-items:center;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    transform: translate(100%, 100%);
    transition: .3s ease-in;
}
}
@media screen and (max-width: 481px) {
  .column {
    width: 100%;
    display: block;
  }

.gallery_figure:hover::after {
    transform: translate(0); 
  }

.gallery_figure {
    display: grid;
    grid-template-areas: "img";
    overflow:hidden;
}
.gallery_figure::after{
    content: attr(data-name)"";
    grid-area: img;
    background-color: #1d1d1f94;
    display:grid;
    place-items:center;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    transform: translate(100%, 100%);
    transition: .3s ease-in;
}
}
