* {
    * margin: 0;
    * padding: 0;
    * box-sizing: border-box;
    * }

body {
background-image: radial-gradient(circle, #19b526, #00a475, #008ca4, #0070ac, #00518f, #0c4383, #163577, #1d2769, #2b246e, #3a1f73, #491775, #580576);

}
.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px  auto 0;
    border-radius:  10px;
    padding: 30px;
    box-shadow:  7px 5px 4px rgba(0,0,0,0.5);
}
.app h1{
    font-size: 25px;
    color: #1c1d1f;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}
.quiz {
    padding: 0px 0;
}
.quiz h2{
    font-size: 18px;
    color: #0C0512;
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px .0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #1D0B2E;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#end-btn a{
    color: #eee;
    text-decoration:none;
} 
#next-btn, #end-btn{
background-image: linear-gradient(to right, #54079d, #401178, #2e1254, #1e1032, #0c0512);
    color: #eee;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display:none;
}
#next-btn:hover, #end-btn:hover{
background-image: linear-gradient(to right, #653195, #4d2a74, #382254, #251935, #130e18);
}
.correct {
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
