*, :after, :before {
    box-sizing: inherit;
}
*{
    box-sizing: border-box; 
}
html{
    scroll-behavior: smooth;
}
h6{
    color:black;
    font-size: 17px;
    padding: 5px 5px;
    margin: 0 ;
    margin-left:0;
    width: auto;
}

h2{
    font-size: 2em;
    padding: 10px 10px;
}
span{font-size: 13px;}

.hero-body{
background: rgb(5,0,36);
background: linear-gradient(90deg, rgba(5,0,36,1) 0%, rgba(93,9,121,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    display: flex;
    align-items: center;
    text-align:center;
    flex-direction: column;
    background-size: cover;
    height: 60vh;
}
.Container{
    margin: 0 auto;
    width: auto;
    position:relative;

}

#quiz {
    padding: 8vh 8vh 0 8vh;
    text-align: center;

}

#quiz .quiz-box {
    display: grid;
    grid-template-columns:  repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

#quiz .quizzes img {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
}

#quiz .quizzes {
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgb(0 0 0 /0.5);
}
#quiz .quizzes:hover {
    transform: scale(1.05, 1.05);
}

#quiz .quizzes .details {
    padding: 15px 15px 0 15px;
}

@media screen and (min-width: 1216px)
 {
    .Container{
    max-width : 1152px;
    }
}
@media screen and (min-width: 1024px)
 {
    .Container{
    max-width: 960px;
    }
}
 
