{% extends 'base.html' %}
{% block title%}Acerca de{%endblock%}

{% block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='style/information.css') }}">
<div class="hero-body" style=" padding: 10em 1.5em;">
<h2>Acerca de</h2>
</div>

<main class="Content">
  <div class="Container">
    <div style="border-radius: 4px; background: rgb(255,255,255); padding: 35px 45px; box-shadow: rgba(0,0,0,0.5) 0px 4px 12px; top: -100px; position: relative;">
      <p>
        Queremos que seas un profesional de TI altamente instruido en ciencias de la computación, para que puedas resolver los problemas del día a día y dominar algoritmos en ciencias de computación.
      </p>
      <p>Comenzar nuestras carreras en la universidad no fue una tarea facil, hubo ocaciones donde no sabiamos como resolver un problema o por donde debiamos comenzar y entonces venia la frustración, pero esto no fue ningun incoveniente no tiramos la toalla y seguimos adelante. Corrimos con la suerte de tener muy bbuenos profesores a lo largo de estos años que nos motivaron y fue donde comenzamos a estudiar por nuestras cuentas fuera de la universidad como en cursos de internet, paginas web, libros, etc.</p>
      <p>Por esta razon decidimos crear nuestro propio sitio web para estudiantes como nosostros, que tienen problemas con aprender algun tema o les cuesta mucho tratar de entender al profe, porque siendo honestos hay profesores no te transmiten el conocimiento de una forma en la que la puedas entender y es por esoque aqui te ayudaremos a mejorar y que vayas forjando ese profesional con el que tanto has soñado en convertirte.</p>
      <p>La aventura universitaria es de las etapas más bonitas pero de las más dificiles tambien, pero nosotros te ayudaremos a que sea completamente más sencilla dandote consejos, tutorías y material para facilitar tu aprendizaje.
    </p>
    <p>En este sitio vamos a entregarte herramientas que puedas utilizar en tu día a día como estudiante en programación, bases de datos y redes computacionales. Queremos que llegues de la mejor forma posible al final de esta aventura y puedas convertirte en un gran profesional y algún día puedas aplicar estos conocimientos en tu vida laboral. <b>Animo, tu puedes con trabajo y dedicación, lo puedes conseguir. </b> </p>
    <hr>
    </div>
  </div>
</main>
{%endblock%}
