{% extends 'base.html' %}
{% block title%}Acerca de{%endblock%}

{% block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='style/about.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="hero-body" style=" padding: 10em 1.5em;">
<h2>Acerca de nosotros</h2>
<p class="description">Royal Knowledge es una plataforma de aprendizaje divertido y de calidad.
<br>Con nuestros cursos, quiz y tutorias personalizadas podrás convertirte en un buen profesional.</p>
</div>

<h2 style="text-align:center">Nuestro equipo</h2>

<div class="row">
  <div class="column" >
    <div class="card ceo">
      <img src="../../static/media/jose-diaz2.jpeg" alt="Jose" style="width:100%">
      <div class="container" >
        <h2>Jose Díaz</h2>
        <p class="title">CEO & Fundador, desarrollador backend  Frontend </p>
        <p>Mi nombre es Jose Manuel Diaz, soy fundador, desarrollador Backend y Frontend de Royal Knowledge.</p>
        <p>&nbsp;</p>
        <a href="https://www.facebook.com/manuel.diazhidalgo.3/" class="fa fa-facebook" target="blank"></a>
        <a href="https://www.instagram.com/jose.diaz_p7/?hl=en" class=" fa fa-instagram" target="blank"></a>
        <a href="https://www.instagram.com/jose.diaz_p7/?hl=en" class=" fa fa-github" target="blank"></a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../static/media/yoselin-diaz.jpg" alt="Yoselin" style="width:100%">
      <div class="container">
        <h2>Yoselin Diaz</h2>
        <p class="title">Co-fundadora, diseñadora y desarrolladora Frontend </p>
        <p>Mi nombre es Yoselin Díaz,  soy co-fundadora, diseñadora y desarrolladora Frontend para Royal Knowledge.<br></p>
        <p></p>
        <a href="https://www.facebook.com/yoselin.diaz.399" class="fa fa-facebook" target="blank"></a>
        <a href="https://www.instagram.com/yossdg_17/" class=" fa fa-instagram" target="blank"></a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../static/media/Naye-terrones.jpeg" alt="Naye" style="width:100%">
      <div class="container">
        <h2>Nayelli Terrones</h2>
        <p class="title">Co-fundadora, diseñadora y desarrolladora Frontend</p>
        <p>Mi nombre es Nayelli Terrones, soy co-fundadora, diseñadora y desarrollador Frontend de Royal Knowledge</p>
        <a href="https://www.facebook.com/profile.php?id=100012153847377" class="fa fa-facebook" target="blank"></a>
        <a href="https://www.instagram.com/naye_v_t/" class=" fa fa-instagram" target="blank"></a>
      </div>
    </div>
  </div>
</div>
{%endblock%}
