{% extends 'base.html'%}
{%block title%}politicas de privacidad{% endblock%}

{%block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='style/information.css') }}">
<div class="hero-body" style=" padding: 10em 1.5em;">
<h2>Politicas de privacidad</h2>
</div>
<main class="Content">
  <div class="Container">
    <div style="border-radius: 4px; background: rgb(255,255,255); padding: 35px 45px; box-shadow: rgba(0,0,0,0.5) 0px 4px 12px; top: -100px; position: relative;">
      <p>
        18 de Marzo de 2023.

      </p>
      <span class="disqus-comment">....</span>
      <p>Politicas de privacidad para <b>Royal Knowledge</b> si necesitas cualquier otra información o tienes algunas preguntas acerca de nuestras politicas de privacidad, por favor sientete libre de comunicarte con nosotros por medio de un Email en privado.</p>
      <p>
      En <a id="link-page" href="{{url_for('index.home')}}">RoyalKnowledge.com</a> consideramos la privacidad de nuestros visitantes extremadamente importante. Este documento de politicas de privacidad describe detalladamente el tipo de información personal que es recolectada y almacenada.
      </p>
      <p>Cookies, <a id="link-page" href="{{url_for('index.home')}}">RoyalKnowledge.com</a> usa cookies para recolectar información de los visitantes, para almacenar información especifica de las paginas que el visitante accede, personalizar nuestro contenido de la pagina web basado en el navegador que usa el visitante. </p>
      <p>Nombre de usuario, contraseña y coreo electronico,<a id="link-page" href="{{url_for('index.home')}}">RoyalKnowledge.com</a> almacena está información en la base de datos para mantener un control de inicio de sesion y mostrar información personalizada para cada usuario, personalizar su perfil de usuario y mostrar información especifica que el usuario ingresa, como lo son las notas rapidas. </p>
    <hr>
    </div>
  </div>
</main>
{%endblock%}
