<!DOCTYPE html>
<html>
<title>{% block title %}{% endblock %} - Royal Knowledge</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style/menu.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,600&display=swap" rel="stylesheet"/>
  
  
    {% if g.user %}
<nav class="navbar is-fixed-top has-shadow">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="{{ url_for('index.home') }}"><img  src="{{url_for('static', filename='media/rk-logo.jpg')}}" width="50" height="50" ></a>
  </div>
  <div class="navbar-menu null">
    <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('index.home') }}"><strong>
                  Home
              </strong></a>
              <div class="dropdown">
                <a class="navbar-item link" href="{{ url_for('courses.catalog') }}">
                  <strong>Cursos</strong>
                </a>
                <div class="sub-menu dropdown-menu ">
          <ul  >
            <li><a class="navbar-item" href="{{ url_for('courses.netw_index') }}">Redes computacionales</a></li>
            <li><a class="navbar-item" href="{{ url_for('courses.db_index') }}">Bases de datos</a></li>
            <li><a  class="navbar-item"href="{{ url_for('courses.progr_java') }}">Programacion en Java</a></li>
          </ul>
                </div>
              </div>
        <a class="navbar-item" href="{{ url_for('index.policies') }}"><strong>politicas de privacidad</strong></a>
        <a class="navbar-item" href="{{ url_for('index.about') }}"><strong>Acerca de</strong></a>
        <a class="navbar-item" href="{{ url_for('index.contact') }}"><strong>Contacto</strong></a>
    </div>
    <div class="navbar-end">
    <a class="navbar-item" href="#"><span> {{ g.user['username'] }}</span></a>
     <a class="navbar-item"href="{{ url_for('auth.logout') }}">Cerrar sesion </a>
    </div>
  </div>
</nav>
    {% endif %}
  <header>
    {% block header %}
    {% endblock %}
  </header>
  <body>

  {% block content %}{% endblock %}
  </body> 
    <footer>
  {% block footer   %}
        <div class="container">
            <p>&copy; Derechos reservados 2023</p>
            <a href="#">Contacto</a>
            <a href="{{ url_for('index.policies') }}">Politicas de privacidad</a>
        </div>
        {%endblock%}
    </footer>

</html>
